{% extends 'index' %}

{% set hero = entry.heroImage.one() %}

{% block content %}

    <div class='hero-image'>
        <img src='{{ hero.url }}'>
        <h1>{{ entry.title }}</h1>
    </div>

    <div class='hero-banner'>
        <p>{{ entry.heroSubtitle }}</p>
    </div>

    <div class="warning">
        <h1>Aandacht!</h1>
        <p>Wij werken vanaf heden enkel nog met Flickr om onze foto’s met jullie te delen. Dit doen we om de privacy van onze kindjes zoveel mogelijk te beschermen.
        <br>
        Na elk kamp of weekend zullen de ouders een mailtje krijgen met daarin de links naar onze afgeschermde albums. 
        <br>
        <br>
        Enkele groepsfoto’s van de kampen en weekenden zullen wel nog terug te vinden zijn op onze Facebook-pagina.
        </p>
    </div>

    <div class='main-content'>
        <section class="messages">
            <h1>Recente berichten</h1>
            <div class='messages-list'>
                {% set posts = craft.entries.section('posts').limit(3) %}
                {% for post in posts %}
                    {% set image = post.image.one() %}
                    <div class="message">
                        <span class='date'>{{ post.datum|date('d-m-Y') }}</span>
                        <h2>{{ post.title }}</h2>
                        {% if image %}
                            <img src='{{ image.url }}'>
                        {% endif %}
                        <div class='text'>{{ post.inhoud }}</div>
                        <a class='read-more' href='{{ post.url }}'>Lees meer</a>
                    </div>
                {% endfor %}
            <a href="{{ siteUrl }}posts" class='button'>Toon alle berichten</a>
            </div>
        </section>

        <div class='sidebar-container'>
        <div class='sidebar'>
            <section class="calendar">
                <h1>Kalender</h1>
            </section>

            <section class="socials">
                <h1>Socials</h1>
                <div class='socials-list'>
                    {% for medium in socialMedia.socialMedia.all() %}
                    {% set image = medium.icon.one() %}
                        <a href="{{ medium.mediaLink }}" target="_blank">
                            <div class="medium">
                                <div class="medium-image">
                                    <img src="{{ image.url }}">
                                </div>
                                <h2>{{ medium.medium }}</h2>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </div>
        </div>


        <section class="sponsors">
            <h1>Bedankt sponsors!</h1>
            <div class='sponsor-list'>
                {% for sponsor in sponsers.sponsorItem.all() %}
                    <a href="{{ sponsor.website }}" target="_blank">
                        <div class="sponsor">
                            <p>{{ sponsor.naam }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>

    </div>



    {% endblock %}