{% extends 'index' %}

{% block content %}

        <div class='leiding-content'>
            <h1>Hoofdleiding & volwassen begeleigers</h1>
                <div class="leiding-container">
                    <div class="hoofdleiding">
                        <italic>Beweeg met je muis over de grote witte vlakken voor een kennismaking!</italic>
                        <h2>Hoofdleiding</h2>
                        <div class="description">
                            {{ entry.beschrijvingHoofdleiding }}
                        </div>
                        <div class="leiders">
                        {% for leider in entry.hoofdleiding.all() %}
                            {% set foto = leider.foto.one() %}
                            <div class="person"> 
                                <h2>{{ leider.naam }}</h2>
                                <div class="leider-foto-vb">
                                    <img src='{{ foto.url }}' />
                                </div>
                                <a href="tel:{{ leider.nummer }}" class="strong">{{ leider.nummer }}</a>
                                <a href="mailto:{{ leider.email }}" class="strong">{{ leider.email }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="vb-container">
                <div class="vb">
                    <italic>Beweeg met je muis over de grote witte vlakken voor een kennismaking!</italic>
                    <h2>Volwassen begeleiders</h2>
                    <div class="description">
                        {{ entry.beschrijvingVolwassen }}
                    </div>
                    <div class="leiders">
                    {% for leider in entry.vb.all() %}
                        {% set foto = leider.foto.one() %}
                        <div class="person"> 
                            <h2>{{ leider.naam }}</h2>
                            <div class="leider-foto-vb">
                                <img src='{{ foto.url }}' />
                            </div>
                                <a href="tel:{{ leider.telefoon }}" class="strong">{{ leider.telefoon }}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        
        </div>

{% endblock %}