<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jokido Lierde</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/uav7pmv.css">
        <link rel="stylesheet" href="https://use.typekit.net/uav7pmv.css">
        <link rel="stylesheet" href="{{ siteUrl }}static/css/reset.css">
        <link rel="stylesheet" href="{{ siteUrl }}static/css/styles.css">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ siteUrl }}static/images/logo.png">
        <script type="module" src="{{ siteUrl }}static/scripts/boot.js" async defer></script>
        <script type="module" src="{{ siteUrl }}static/scripts/script.js" async defer></script>
    </head>